{% extends 'main/base.html' %}
{% load static %}

{% block title %}Services{% endblock %}

{% block extra_head %}
    <!-- Add any additional styles or meta tags here -->
{% endblock %}

{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 position-relative overlay-bottom">
        <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
            <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">Сервис</h1>
            <div class="d-inline-flex mb-lg-5">
                <p class="m-0 text-white"><a class="text-white" href="{% url 'home' %}">Главная</a></p>
                <p class="m-0 text-white px-2">/</p>
                <p class="m-0 text-white">Сервис</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

  <!-- Service Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="section-title">
                <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Наши услуги</h4>
                <h1 class="display-4">Продажа и аренда кофемашин</h1>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" src="{% static 'main/img/service-1.jpg' %}" alt="">
                        </div>
                        <div class="col-sm-7">
                            <h4><i class="fa fa-truck service-icon"></i>Доставка</h4>
                            <p class="m-0">Закажите кофемашину с доставкой по всему Кыргызстану! Мы предлагаем быструю и надежную доставку в любой город. Гарантия качества и лучшие цены! Оформите заказ на нашем сайте или позвоните нам прямо сейчас.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" src="{% static 'main/img/service-2.jpg' %}" alt="">
                        </div>
                        <div class="col-sm-7">
                            <h4><i class="fa fa-coffee service-icon"></i>Рассрочка & Кредит</h4>
                            <p class="m-0">Мы предлагаем удобную рассрочку на покупку кофемашин через нашего партнера - Мбанк. Условия рассрочки уточняйте у нашего менеджера.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" src="{% static 'main/img/service-3.jpg' %}" alt="">
                        </div>
                        <div class="col-sm-7">
                            <h4><i class="fa fa-award service-icon"></i>Гарантия</h4>
                            <p class="m-0">Мы предоставляем гарантию один год на все кофемашины. В течение всего срока службы вашей кофемашины, вы можете рассчитывать на нашу консультационную поддержку.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" src="{% static 'main/img/service-4.jpg' %}" alt="">
                        </div>
                        <div class="col-sm-7">
                            <h4><i class="fa fa-table service-icon"></i>Аренда</h4>
                            <p class="m-0">Не уверены в том, нужна ли вам кофемашина? Есть возможность взять кофемашину в аренду с возможностью выкупа.
                            Для оформления аренды нужен только паспорт! Без залогов!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->

{% endblock %}

{% block extra_js %}
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'main/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'main/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'main/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'main/lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'main/lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'main/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <!-- Contact Javascript File -->
    <script src="{% static 'main/mail/jqBootstrapValidation.min.js' %}"></script>
    <script src="{% static 'main/mail/contact.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'main/js/main.js' %}"></script>
{% endblock %}